.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}

section {
  padding-top: 5rem;
}

.navbar {
  background-color: #4863a0;
}

footer {
  background-color: #4863a0;
}
